.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Elimina el fondo azul en iOS (Safari) */
a,
button {
  -webkit-tap-highlight-color: transparent;
}

/* Elimina el fondo azul en Android (Chrome, Firefox, etc.) */
a:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

/* Estilo para el logo */
.logo2 {
  width: 150px;
  /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
  /* Mantiene la proporción del logo */
}

/* Animación opcional para el logo */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo2 {
  animation: fadeIn 1.5s ease-in-out infinite alternate;
  /* Animación de desvanecimiento */
}

@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  z-index: 1000;
}

.menu-btn button,
.cart button {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.cart p {
  font-size: 20px;
}

.logo img {
  height: 40px;
}


/* Menú lateral */
.side-menu {
  position: fixed;
  left: -450px;
  top: 0;
  width: 450px;
  height: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 60px 20px;
  transition: left 0.3s ease;
  z-index: 1001;
}

.side-menu ul {
  list-style: none;
}

.side-menu ul li {
  margin-bottom: 5px;
  line-height: 50px;
  padding-left: 15px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 17px;
  transition: background-color 0.3s ease;
  /* Añade transición para suavizar el cambio de color */
}

.side-menu ul li:hover {
  background-color: #efefefb4;
  /* Cambia el color de fondo al hacer hover */
}


.side-menu ul li a {
  color: rgb(103, 103, 103);
  text-decoration: none;
  font-size: 1.2em;
  line-height: 30px;
}

.side-menu.open {
  left: 0;
}

.side-menu a {
  color: rgb(103, 103, 103);
  text-decoration: none;
}

/* Capa oscura */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 43, 54, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    padding: 0 5%;
  }

  .logo img {
    height: 35px;
  }

  .menu-btn button,
  .cart button {
    font-size: 20px;
  }

  .side-menu {
    left: -250px;
    width: 250px;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 30px;
  }

  .menu-btn button,
  .cart button {
    font-size: 18px;
  }
}

.line {
  stroke-width: 3px;
  stroke: rgb(0, 0, 0);
}

.lineBottom {
  stroke-dasharray: 40 40;
}

.lineMid {
  stroke-dasharray: 40 40;
}

.lineTop {
  opacity: 0;
  transform: translateY(-5px);
}

.menu-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.menu-button svg {
  margin-right: 0;
  /* Espacio entre el icono y el texto */
  display: block;
}

#open-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  max-width: 20px;
}

.cart button {
  max-width: 20px;
}

.line {
  transition: all 0.3s ease-in-out;
}

#open-menu:hover .line {
  stroke: #000000;
  /* Cambia el color al hacer hover */
}

#open-menu:hover .lineTop {
  opacity: 1;
  transform: translateY(8px);
  /* Mueve la línea superior al centro */
}

#open-menu:hover .lineMid {
  transform: translateY(6px);
  /* Mueve y rota la línea media */
}

#open-menu:hover .lineBottom {
  transform: translateY(4px);
  /* Mueve y rota la línea inferior */
}

#open-menu svg {
  transform: translateY(-6px);
}

@media (max-width: 600px) {
  #open-menu svg {
    height: 35px;
    /* Tamaño del ícono en móviles */
    width: 35px;
    /* Tamaño del ícono en móviles */
    transform: translateY(2px);
  }

  .line {
    stroke-width: 3;
    /* Ancho de las líneas en móviles */
  }

  #open-menu:hover .lineTop {
    opacity: 0;
    transform: none;
    /* Mueve la línea superior al centro */
  }

  #open-menu:hover .lineMid {
    transform: none;
  }

  #open-menu:hover .lineBottom {
    transform: none;
  }
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.grid>[class*=column-] {
  display: block;
}

.first {
  order: -1;
}

.last {
  order: 12;
}

.align-top {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: end;
}

.column-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.column-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.column-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.column-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 48rem) {
  .column-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 62rem) {
  .column-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 75rem) {
  .column-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  .grid>[class*=column-] {
    margin: 0;
    max-width: 100%;
  }

  .column-xs-1 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  .column-xs-2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
  }

  .column-xs-3 {
    grid-column-start: span 3;
    grid-column-end: span 3;
  }

  .column-xs-4 {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .column-xs-5 {
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  .column-xs-6 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .column-xs-7 {
    grid-column-start: span 7;
    grid-column-end: span 7;
  }

  .column-xs-8 {
    grid-column-start: span 8;
    grid-column-end: span 8;
  }

  .column-xs-9 {
    grid-column-start: span 9;
    grid-column-end: span 9;
  }

  .column-xs-10 {
    grid-column-start: span 10;
    grid-column-end: span 10;
  }

  .column-xs-11 {
    grid-column-start: span 11;
    grid-column-end: span 11;
  }

  .column-xs-12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }

  @media (min-width: 48rem) {
    .column-sm-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-sm-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-sm-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-sm-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-sm-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-sm-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-sm-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-sm-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-sm-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-sm-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-sm-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-sm-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }

  @media (min-width: 62rem) {
    .column-md-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-md-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-md-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-md-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-md-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-md-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-md-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-md-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-md-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-md-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-md-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-md-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }

  @media (min-width: 75rem) {
    .column-lg-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-lg-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-lg-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-lg-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-lg-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-lg-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-lg-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-lg-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-lg-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-lg-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-lg-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-lg-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #888;
  background: #fff;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin: 0 1.75rem 0 0;
}

a {
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: #333;
}

a.active {
  color: #333;
}

h1,
h2,
h3,
h4 {
  color: #333;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

nav {
  display: block;
}

nav li {
  font-size: 1.125rem;
  margin: 0;
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #fff;
  text-align: center;
}

.flex-nav ul.active {
  display: flex;
}

.flex-nav ul li {
  margin: 0.5rem 0;
}

.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  line-height: 1.7;
  margin: 1rem 0;
}

.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 0 0 0.5rem;
}

#highlight {
  color: #333;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.price {
  margin: 0;
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
}

.breadcrumb-list li {
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.breadcrumb-item.active {
  color: #333;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 0.5rem;
  color: #d5d5d5;
}

.description {
  border-top: 0.0625rem solid #e3dddd;
  margin: 2rem 0;
  padding: 1rem 0 0 0;
}

.add-to-cart {
  position: relative;
  display: inline-block;
  background: #BAD432;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(0);
  transition: color 0.3s ease;
  letter-spacing: 0.0625rem;
}

.add-to-cart:hover::before {
  transform: scaleX(1);
}

.add-to-cart::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #90a528;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
}


.add-to-cart-wobg {
  position: relative;
  display: inline-block;
  background: #ffffff;
  border: 2px #000 solid;
  color: #000000;
  border: none;
  border-radius: 0;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(0);
  transition: color 0.3s ease;
  letter-spacing: 0.0625rem;
}

@media (max-width: 830px) {

  .add-to-cart,
  .add-to-cart-wobg {
    padding: 0.8rem 1.5rem;
    /* Reduce el padding en pantallas más pequeñas */
    font-size: 0.9rem;
    /* Reduce el tamaño de la fuente */
  }
}

@media (max-width: 360px) {

  .add-to-cart,
  .add-to-cart-wobg {
    padding: 0.8rem 1.1rem;
    /* Reduce aún más el padding en pantallas muy pequeñas */
    font-size: 0.8rem;
    /* Reduce el tamaño de la fuente aún más */
  }
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
}

.grid>[class*=column-] {
  padding: 1rem;
}

.grid.menu {
  border-bottom: 0.0625rem solid #e3dddd;
}

.grid.menu>[class*=column-] {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.grid.product {
  padding: 0 0 1.5rem 0;
}

.grid.second-nav>[class*=column-] {
  padding: 0.5rem 1rem;
}

footer {
  padding: 1rem 0;
  text-align: center;
}

.product-image {
  display: block;
}

.image-list li {
  margin: 0;
}

.product-image img {
  border-radius: 8px;
}

@media (min-width: 768px) {

  .product-image img,
  .image-list img {
    width: 100%;
  }


  .product-image img {
    height: 52vh;
    border-radius: 8px;
  }

  .product-image img.active {
    display: block;
    margin: 0 0 0.75rem 0;
  }

  .image-list {
    display: flex;
    overflow: hidden;
  }

  .image-list li {
    margin: 0 0.75rem 0 0;
    flex-basis: 100%;
  }

  .image-list li:nth-child(3) {
    margin: 0;
  }

  .image-list img {
    height: 10rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .image-list img:hover {
    opacity: 0.7;
  }

  nav ul {
    justify-content: flex-end;
  }

  .toggle-nav {
    display: none;
  }

  .flex-nav {
    display: block;
  }

  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }

  .flex-nav ul li {
    font-size: 1.125rem;
    margin: 0 1.5rem 0 0;
  }

  .flex-nav ul li:nth-child(4) {
    margin: 0;
  }
}

@-webkit-keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilo general del footer */
footer {
  background-color: #f8f8f8;
  /* Fondo claro para el footer */
  padding: 40px;
  /* Espaciado interno alrededor del contenido */
}

/* Contenedor principal del footer */
.footer {
  display: flex;
  /* Usa Flexbox para organizar las secciones en fila */
  justify-content: space-between;
  /* Espacia las secciones a los lados del contenedor */
  max-width: 1200px;
  /* Ancho máximo del footer */
  margin: 0 auto;
  /* Centra el footer horizontalmente */
}

/* Estilo para la sección izquierda */
.footer .left {
  flex: 1;
  /* Ocupa una parte del ancho disponible */
  padding: 0 20px;
  text-align: left;
  /* Espaciado interno a los lados */
}

/* Estilo para la sección derecha */
.footer .right {
  flex: 1;
  text-align: left;
  /* Ocupa una parte del ancho disponible */
  padding: 0 20px;
  /* Espaciado interno a los lados */
}

/* Estilo para los títulos en el footer */
.footer h3 {
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 1rem;
  font-size: .85rem;
  /* Tamaño de fuente para los títulos */
  margin-bottom: 10px;
  /* Espaciado debajo del título */
  color: #152242;
  /* Color del texto de los títulos */
}

/* Estilo para los enlaces */
.footer a {
  display: block;
  /* Muestra los enlaces en bloques para facilitar el espaciado */
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: .85rem;
  /* Tamaño de fuente para los títulos */
  margin-bottom: 10px;
  /* Espaciado debajo del título */
  color: #3e4f74;
  /* Color del texto de los títulos */
  margin-bottom: 8px;
  /* Espaciado debajo de cada enlace */
}

/* Estilo para los enlaces en hover */
.footer a:hover {
  text-decoration: underline;
  /* Subraya el enlace al pasar el mouse */
  color: #0056b3;
  /* Color del enlace en hover */
}

.inbox-btn {
  display: none;
}

#pcart {
  position: relative;
  /* Necesario para posicionar la burbuja relativa a este contenedor */
  display: inline-block;
  /* Permite que el elemento se ajuste al contenido */
}

/* Estilo de la burbuja de cantidad */
#cart-quantity {
  position: absolute;
  top: -7px;
  /* Ajusta esta posición según el diseño deseado */
  right: -19px;
  /* Ajusta esta posición según el diseño deseado */
  color: rgb(0, 0, 0);
  /* Color del texto dentro de la burbuja */
  border-radius: 50%;
  /* Hace que la burbuja sea circular */
  display: flex;
  /* Usa Flexbox para centrar el texto dentro de la burbuja */
  align-items: center;
  /* Centra verticalmente */
  justify-content: center;
  /* Centra horizontalmente */
  font-size: 12px;
  /* Tamaño del texto */
  font-weight: 600;
  /* Negrita del texto */
  text-align: center;
  /* Alineación del texto */
}

/* Responsive design: ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    /* Pone las secciones en una sola columna en pantallas pequeñas */
    align-items: left;
    /* Centra las secciones horizontalmente */
  }

  .inbox-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
  }

  .inbox-btn svg {
    height: 20px;
    transition: all 0.3s;
  }

  .msg-count {
    position: absolute;
    top: 8px;
    right: 15px;
    border-radius: 50%;
    font-size: 0.6em;
    color: rgb(0, 0, 0);
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #pcart {
    display: none;
  }

  .footer .left,
  .footer .right {
    text-align: left;
    /* Centra el texto dentro de cada sección */
    padding: 10px 0;
    /* Espaciado interno arriba y abajo */
  }

  .copy {
    text-align: center;
  }

  .image-list {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* Centra horizontalmente dentro del espacio restante */
  }
}

.hrcopy {
  margin: 3rem 0;
  width: 100%;
}

.copy {
  font-size: .8rem;
}

.wolink {
  color: #ffffff;
}

.wolink:hover {
  color: #ffffff;
}

.contentpoliciesbody {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contentpolicies {
  background: #fff;
  padding: 20px;
  margin: 6rem 0;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  text-align: left;
}

.contentpolicies h1 {
  text-align: center;
}

.contentpolicies h2 {
  margin-top: 1.5rem;
  font-size: .95rem;
  font-weight: 700;
  color: #293b65;
}

.contentpolicies p {
  font-size: .9rem;
  font-weight: 300;
  color: #293b65;
}
.contentpolicies a {
 text-decoration: underline;
}